.DS_Store

/.htaccess
/index.php
/application/config/config.php
/application/config/database.php

/index_renamed.php
/application/config/config_renamed.php
/application/config/database_renamed.php

/application/cache/
!application/cache/index.html
!application/cache/.htaccess

/application/logs/
!application/logs/index.html
!application/logs/.htaccess

/_tmp-folder/
/uploads/
