.DS_Store

/.htaccess

/application/cache/
!application/cache/index.html
!application/cache/.htaccess

/application/logs/
!application/logs/index.html
!application/logs/.htaccess

/_tmp-folder/
/uploads/

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
